# Python
venv/
__pycache__/

# Node.js
node_modules/
dist/

# OS
.DS_Store
Thumbs.db

# Environment
.env


#logs
*.log

backend/instantclient_23_9
backend/instantclient-basic-linux.x64-23.9.0.25.07.zip